<div class="container mt-3 mb-3">
  <% @users.each do |u| %>
    <ul class="list-group">
      <li class="list-group-item text-center">All users list</li>
      <li class="list-group-item list-group-item-info"><%= u.email %></li>
    </ul>
  <% end %>
</div>
