<div class="container mt-3">
<ul class="list-group">
  <li class="list-group-item text-center">A simple default list group item</li>

  <li class="list-group-item list-group-item-info">A simple primary list group item</li>
  <li class="list-group-item list-group-item-info">A simple secondary list group item</li>
  <li class="list-group-item list-group-item-info">A simple success list group item</li>
  <li class="list-group-item list-group-item-info">A simple danger list group item</li>
  <li class="list-group-item list-group-item-info">A simple warning list group item</li>
  <li class="list-group-item list-group-item-info">A simple info list group item</li>
  <li class="list-group-item list-group-item-info">A simple light list group item</li>
  <li class="list-group-item list-group-item-info">A simple dark list group item</li>
</ul>
</div>
