
.green-notice {
  color: green;
}

.ml-2 {
  margin-left: 200px;
}

.my-footer {
  background: black;
  color: white;
  font-weight: bold;
}

.my-btn {
  width: 470px;
}

.my-frm {
  width: 500px;
  background: #faf9f9;
  padding: 15px;
  margin-left: 400px;
}

.red-alert {
  color: red;
}
