
.art-author {
  margin: 5px;
  padding: 2px;
  background: #f4f8ff;
}

.art-author a {
  color: #06661e;
  font-weight: bold;
}

.catg {
  color: #029c00;
}

.catg a {
  color: #2e4880;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.catg a:hover {
  background: #dee7f9;
}

.green-notice {
  color: green;
}

.head-proposition {
  margin-left: 30px;
  margin-top: 20px;
  color: #451402;
  font-weight: bold;
  margin-bottom: 10px;
}

.ml-2 {
  margin-left: 200px;
}

.ml-100 {
  margin-left: 100px;
}

.my-footer {
  background: black;
  color: white;
  font-weight: bold;
}

.my-btn {
  width: 470px;
}

.my-frm {
  width: 500px;
  background: #faf9f9;
  padding: 15px;
  margin-left: 400px;
}

.my-vote {
  color: #060973;
  margin-left: 20px;
}

.proposition {
  background: #fff5f1;
  width: 550px;
  margin-left: 50px;
}

.red-alert {
  color: red;
}
