<div class="card mb-4">
    <div class="card-header">Admin links</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled mb-0 text-center">
                    <li><%= link_to "Users list", users_path %></li>
                    <li><%= link_to "New category", new_category_path %></li>
                    <li><%= link_to "New proposition", new_proposition_path %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
