<% @categories = Category.all %>
<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled mb-0 text-justify ml-100">
              <% @categories.first(6).each do |category| %>
                <li class="catg"><%= link_to category.name, categories_path %></li>
                <% end %>
                <li><%= link_to "View more categories", categories_path %></li>
            </ul>
        </div>
    </div>
</div>
