<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled mb-0 text-center">
                <li class="catg"><a href="#!">JavaScript</a></li>
                <li class="catg"><a href="#!">CSS</a></li>
                <li class="catg"><a href="#!">Nature</a></li>
                <li class="catg"><a href="#!">Science</a></li>
                <li class="catg"><a href="#!">Buildings</a></li>
                <li><a href="#!">View more categories</a></li>
            </ul>
        </div>
    </div>
</div>
